{% extends 'base.html' %}

{% block content %}

<main class="container py-5">

    <section class="card card-body">

        <h1 class="text-center display-5 py-3">Alta de proveedores, clientes y materiales</h1>

        <p>Seleccione una de las siguientes opciones para ver sus solicitudes pendientes de aprobar.</p>

        <div class="text-center py-3">
            
            <a class="btn btn-primary" href="proveedores">Proveedores</a>
            
            <a class="btn btn-primary" href="">Clientes</a>
            
            <a class="btn btn-primary" href="">Materiales</a>

        </div>

        <p>Seleccione una de las siguientes opciones para solicitar un alta de proveedor, cliente o material.</p>

        <div class="text-center">
            
            <a class="btn btn-primary" href="proveedores/crear">Proveedores</a>
            
            <a class="btn btn-primary" href="">Clientes</a>
            
            <a class="btn btn-primary" href="">Materiales</a>

        </div>

    </section>

</main>

{% endblock %}